/* CSS Styles */
body {
  background-color: lightgreen
}
p1{
  background-color: red
}
p2{
  background-color: orange
}
p3{
  background-color: yellow
}
p4{
  background-color: green
}
p5{
  background-color: blue
}
p5{
  font-size: 40px
}
h2{
  font-family: 'Permanent Marker', cursive;
}
p6{
  background-color: indigo
}
p7{
  background-color: violet
}
p8{
  background-color: red
}
p9{
  background-color: orange
}
p10{
  background-color: yellow
}
p11{
  background-color: green
}
p12{
  background-color: blue
}
p13{
  background-color: indigo
}
p14{
  background-color: violet
}
p15{
  background-color: red
}
p16{
  background-color: orange
}
p17{
  background-color: yellow
}
p18{
  background-color: green
}
p19{
  background-color: blue
}
p20{
  background-color: indigo
}
p21{
  background-color: violet
}
p22{
  background-color: red
}
